import { SampleView } from './sample-view';
if (typeof customElements !== 'undefined' && !customElements.get('{{ID}}-view')) customElements.define('{{ID}}-view', SampleView as unknown as CustomElementConstructor);
